*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
body
{
    color:#fff;
    background:#222;
}
section
{
    padding:100px
}
.banner
{
    position:relative;
    min-height: 100vh;
    background: rgb(0, 0, 0) ; /* url(banner.jpg);*/
    background-size: cover;
    background-position: right;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn
{
    position: relative;
    background: #408305;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0,0, 0.1);

}
header .logo
{
    color:#fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight :700;
    letter-spacing: 2px;
}
header.sticky .logo
{
    color:#111;
}
header ul
{
    position:relative;
    display: flex;
}
header ul li
{
    position:relative;
    list-style: none;
}
header ul li a
{
    position:relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a
{
    color: #111;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2 
{
    font-weight:600;
    font-size: 30px;
}
.content
{
    
    justify-content: space-between;
}
.contentBox
{
    padding-right: 15px;
}
.contentBox h3
{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50
{
  
    min-width: 50%;
    max-width: 340px;
    margin: 20px;
    text-align: center;
}

img
{
    max-width: 100%;
}
.smallimg
{
    max-width: 20%;
}
.projects
{
    background: #111;
}
.heading.white
{
    color:#fff;
}
.heading.green
{
    color:#408305;
}
.projects .content
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.projects .content .projectBox
{
    padding: 35px 15px;
    background: #222;
    color:#fff;
    max-width: 400px;
    margin: 15px;
    text-align: center;
    transition: 0.5s;
}
.projects .content .projectBox:hover
{
    background: #408305; 
}

.projects .content .projectBox img
{
    max-width: 80px;
    filter: invert(1);
}
.projects .content .projectBox h2
{
    font-size : 20px;
    font-weight: 600;
}
.slider
{
    position: relative;
    width: 50%;
    overflow: hidden;
    margin:20px;

}
.content .slider
{
    min-width: 200px;
}
.certificates
{
    display:flex;
}
.certificates img
{
    transition: all 0.15s ease;
}
.certificates input
{
    display: none;
}
.dots
{
    display:flex;
    justify-content: center;
    margin: 5px;
}
.dots label 
{
    height: 20px;
    width: 20px;
    border-radius:50%;
    border: solid #408305 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px; 
}
.dots label:hover
{
    background-color: #408305;
}
#cert1:checked ~ .c1 
{
    margin-left:0;
}
#cert2:checked ~ .c2
{
    margin-left:-100%;
}
#cert3:checked ~ .c3
{
    margin-left:-200%;
}
#cert4:checked ~ .c4
{
    margin-left:-300%;
}
#cert5:checked ~ .c5
{
    margin-left:-400%;
}
#cert6:checked ~ .c6
{
    margin-left:-500%;
}
#cert7:checked ~ .c7
{
    margin-left:-600%;
}
#cert8:checked ~ .c8
{
    margin-left:-700%;
}
#cert9:checked ~ .c9
{
    margin-left:-800%;
}
#cert10:checked ~ .c10
{
    margin-left:-900%;
}
#cert11:checked ~ .c11
{
    margin-left:-1000%;
}
#cert12:checked ~ .c12
{
    margin-left:-1100%;
}
/* Top left certificates/ Bottom right (2021) certificates */
#cert21:checked ~ .c21 
{
    margin-left:0;
}
#cert22:checked ~ .c22
{
    margin-left:-100%;
}
#cert32:checked ~ .c23
{
    margin-left:-200%;
}
#cert24:checked ~ .c24
{
    margin-left:-300%;
}
#cert25:checked ~ .c25
{
    margin-left:-400%;
}
#cert26:checked ~ .c26
{
    margin-left:-500%;
}
#cert27:checked ~ .c27
{
    margin-left:-600%;
}
#cert28:checked ~ .c28
{
    margin-left:-700%;
}
#cert29:checked ~ .c29
{
    margin-left:-800%;
}
#cert30:checked ~ .c30
{
    margin-left:-900%;
}
#cert31:checked ~ .c31
{
    margin-left:-1000%;
}
#cert32:checked ~ .c32
{
    margin-left:-1100%;
}

footer
{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#111;
    text-align: center;
}
#icon 
{
    font-size: 32px;
    color: #408305;
}
#cert1:checked ~ #btn1,
#cert2:checked ~ .dots label:nth-child(2),
#cert3:checked ~ .dots label:nth-child(3),
#cert4:checked ~ .dots label:nth-child(4),
#cert5:checked ~ .dots label:nth-child(5),
#cert6:checked ~ .dots label:nth-child(6),
#cert7:checked ~ .dots label:nth-child(7),
#cert8:checked ~ .dots label:nth-child(8),
#cert9:checked ~ .dots label:nth-child(9),
#cert11:checked ~ .dots label:nth-child(11),
#cert12:checked ~ .dots label:nth-child(12)
{
    background: #408305;
}


.container .skills{
  position: relative;
  display: flex;
  margin: 20px 0;
  padding: 24px 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222) ;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  transition: 0.5s;
  max-width: 95%;
  
}

.container:hover .skills
{
  opacity: 0.05;
}

.container .skills:hover
{
  opacity: 1;
  transform: scale(1.1);
}

.container .skills:before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255,255, .1);
  z-index:10
}

.container .skills .Name{
  position: relative;
  width: 110px;
  text-align: right;
  color: #FFF;
  margin-top: -2px;
  text-transform: uppercase;
}

.container .skills .Value{
  position: relative;
  width: 40px;
  text-align: left;
  color: #FFF;
  margin-top: -2px;
  text-transform: uppercase;
}

.container .skills .percent{
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;

}

.container .skills .percent .progress{
  position: absolute;
  top:0;
  left:0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px #000;
  animation: animate2 4s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes animate2
{
  from
  {
    width: 0;
  }
}

.container .skills:nth-child(2) .percent .progress
{
  background: linear-gradient(45deg, #1fe6ff, #673AB7);
}

.container .skills:nth-child(3) .percent .progress
{
  background: linear-gradient(45deg, #3BC0FF, #33FF00);
}

.container .skills:nth-child(4) .percent .progress
{
  background: linear-gradient(45deg, #FFEE54, #FF00CA);
}

.container .skills:nth-child(5) .percent .progress
{
  background: linear-gradient(45deg, #1fe6ff, #673AB7);
}

.container .skills:nth-child(6) .percent .progress
{
  background: linear-gradient(45deg, #db0707, #b79a3a);
}

#scrollBar
{
  position: fixed;
  top: 0;
  right:0;
  width:10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: myframes 5s linear infinite;
}
@keyframes myframes  /*2nd keyframe for progressbar */
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }

}
#scrollBar::before
{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}
#scrollBar::after
{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

@media  (max-width: 480px) 
{
    .banner{
        display:flex;
    }
}
@media  (min-width: 580px) 
{
    .content{
        display:flex;
    }
    
    header,
    header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu
    {
        position: fixed;
        top:75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background:#fff;
        transition: 0.5s;
        z-index:999;
        border-top: 1px solid rgba(0, 0,0, 0.2);

    }
    header ul li a:hover
    {
        color: #111;
        font-size:  24px;
        margin: 10px;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px; 
        cursor: pointer;
    }
    .toggle.active
    {
        background: url(close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor:pointer;
    }
    header.sticky .toggle
    {
        filter: invert(1);
    }
    aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
      }
      .banner{
          display:flex;
      }
}

